.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#heading-section{
  background-color: #941E32;
  background-image: linear-gradient(#005F56, #941E32, #DF7500, #F7B718);
  color: yellow;
  display: flex;
  justify-content: space-between;
}

#heading-text{
  margin-left: 2rem;
  margin-right: 1rem;
  font-family: 'Courier New', Courier, monospace;
}
#undertext{
  color: yellow;
  margin-left: 11rem;
  @media (width < 775px) {
    margin-left: 0;
  }
}

#cart-btn{
    background-color: #941e32;
    border: 1px solid white;
    border-radius: 1rem;
    color: #ff0;
    height: 50%;
    width: 6rem;
    margin-top: 50%;
}

#address-field{
  margin: 4rem;
}
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
