#cart-list{
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  width: 30%;
  @media (width < 750px) {
    width: 70%;
  }
}

.cart-list-item{
  display: grid;
  margin: 1rem;
  padding: 1rem;
  border: 1px dashed green;
}

#content-wrapper{
  float: left;
}

#cart-item-price{
  font-style: italic;
}

#cart-item-name{
  font-weight: bold;
}

#button-wrapper{
  float: right;
}

#name-count-container{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 6px;
    padding-bottom: 1px;
}

#remove-btn{
  background-color: white;
  border: 1px solid black;
  color: black;
  font-size: x-large;
    /* height: 30px; */
  width: 50px;
}

#total-price{
  font-weight: bold;
  font-size: x-large;
}

/* Form section */
#cart-form{
  display: grid;
  justify-content: space-around;
}

#name-section{
  display: flex;
  justify-content: center;
}

.input-labels{
  text-align: left;
}

.input-fields{
  margin-bottom: 1rem;
  width: 20rem;
  height: 2rem;
}

#submit-order-btn{
  background-color: darkgreen;
    color: white;
    width: 11rem;
    height: 3rem;
    font-size: large;
    border: solid;
    margin-bottom: 2rem;
}
