#order-confirmation{
background-color: #df7500;
    color: #ff0;
    height: 25%;
    left: 25%;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    top: 25%;
    width: 50%;
    @media screen and (max-width: 500px) {
      width: 100%;
      left: 0;
    }
}

#order-confirmation-button{
  width: 100px;
  height: 50px;
  background-color: teal;
  color: yellow;
  margin-top: 3rem;
}
